ansible (2.3.0.0)
appdirs (1.4.3)
asn1crypto (0.22.0)
cffi (1.10.0)
cryptography (1.8.1)
enum34 (1.1.6)
future (0.16.0)
hpOneView (3.1.1)
idna (2.5)
ipaddress (1.0.18)
Jinja2 (2.9.6)
MarkupSafe (1.0)
packaging (16.8)
paramiko (2.1.2)
pip (9.0.1)
pyasn1 (0.2.3)
pycparser (2.17)
pycrypto (2.6.1)
pyparsing (2.2.0)
PyYAML (3.12)
setuptools (35.0.2)
six (1.10.0)
wheel (0.29.0)
