- name: Creates a Device Manager for the Brocade SAN provider with the given hostname and credentials
  oneview_san_manager:
    config: '{{ config }}'
    state: present
    data:
      providerDisplayName: 'Brocade Network Advisor'
      connectionInfo:
        - name: Host
          value: "{{ SAN_Mgr_Host }}"
        - name: Port
          value: "{{ SAN_Mgr_Port }}"
        - name: Username
          value: "{{ SAN_Mgr_Username }}"
        - name: Password
          value: "{{ SAN_Mgr_Password }}"
        - name: UseSsl
          value: true